@import '../../utilities/utilities';
@import '../../theme/colors';

@mixin buttonStates($color) {
  background-color: $color;

  &:hover {
    background-color: tint($color, 20%);
  }

  &:active {
    background-color: shade($color, 20%);
  }
}

.btn {
  padding: 1rem 2.8rem;

  font-size: 1rem;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid transparent;

  cursor: pointer;

  transition: background-color 0.2s;

  &:focus {
    outline: none;
  }
}

.primary {
  @include buttonStates(map_get($colors, tertiary));
}

.secondary {
  @include buttonStates(map_get($colors, primary));
}

.clear {
  @include buttonStates(map_get($colors, light-gray));

  color: map_get($colors, secondary);
  background-color: white;
}

.outline {
  @include buttonStates(map_get($colors, light-gray));

  color: map_get($colors, secondary);
  background-color: white;
  border-color: map_get($colors, primary);
}
