$colors: (
  primary: #16498a,
  secondary: #152036,
  tertiary: #27add5,
  success: #4fc0b0,
  danger: #bf2323,
  light-gray: #f9f9f9,
  medium-gray: #ececec,
  gray: #8a8a8a,
  black: #222222,
  white: #ffffff
);

$gradients: (
  radial-secondary: radial-gradient(at 35% -20%, #3a4c71 7%, #1a2944 60%)
);
