$colors: (
  primary: #16498a,
  secondary: #152036,
  tertiary: #27ADD5,
  success: #4FC0B0,
  danger: #BF2323,
  light-gray: #F9F9F9,
  medium-gray: #ECECEC,
  gray: #8A8A8A,
  black: #222222,
  white: #FFFFFF,
)
